// app global css in SCSS form
@import 'quasar.variables';
@import 'fonts';
@import "swiper/css";
@import 'swiper/css/effect-fade';
@import "swiper/css/pagination";
@import "swiper/css/navigation";
@import "aos/dist/aos.css";

.q-icon > svg,
.q-icon > img {
  width: auto;
  height: auto;
}

body {
  font-family: "OpenSans", "Arial", sans-serif;
  background-color: $bg-color;
  color: $text-color;
}

.custom-font {
  font-family: "ALSDeparture", "Arial", sans-serif;
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.logo {
  padding-top: 63px;
  text-align: center;

  img {
    width: 138px;
  }

  @media(max-width: 767px) {
    padding-top: 38px;
    img {
      width: 109px;
    }
  }
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-right: 40px;
  padding-left: 40px;

  @media(max-width: 767px) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.main-title {
  margin: 0;
  font-weight: 400;
  font-size: 66px;
  line-height: 67px;
  letter-spacing: 0;

  @media(max-width: 767px) {
    font-size: 42px;
    line-height: 42px;
    text-align: center;
  }
}

.title {
  margin: 0;
  margin-bottom: 50px;
  font-size: 56px;
  line-height: 57px;
  font-weight: 400;
  text-align: center;
  color: $text-bold-color;

  &--white {
    color: #ffffff;
  }

  @media (max-width: 767px) {
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 120%;
  }
}

.guest-title {
  margin: 0;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0;

  @media (max-width: 767px) {
    font-size: 26px;
    line-height: 26px;
  }
}

.intro {
  margin: 0;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  color: $text-color;

  &--white {
    color: #E8F0FF;
  }

  &--bold {
    font-weight: 600;
  }


  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 140%;
  }
}

.input {
  border-radius: 0;
  outline: none;

  input {
    padding-left: 20px;
    padding-right: 20px;
  }

  &--textarea {
    textarea {
      padding-left: 20px;
      padding-right: 20px;
      resize: none !important;
    }

    .q-field__control {
      min-height: 92px !important;
    }

    .q-field__control-container {
      height: auto;
    }
  }

  .q-field__control {
    height: 36px;
    background-color: $white-color;
  }

  .q-field__append {
    max-height: 36px;
  }
}

.label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;

  @media(max-width: 767px) {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 140%;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.radio {
  font-size: 18px;
  line-height: 140%;

  .q-radio__inner {
    width: 20px;
    height: 20px;
    background-color: $white-color;
    font-size: 20px;
    margin-right: 16px;

    &::before {
      display: none;
    }

    svg {
      display: none;
    }

    &--truthy {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 8px;
        height: 8px;
        background-color: $main-color;
        border-radius: 50%;
      }
    }
  }

  @media(max-width: 767px) {
    font-size: 14px;
    line-height: 140%;
  }
}

.select {
  background-color: $white-color;
  font-size: 16px;
  line-height: 140%;

  .q-field__control {
    height: 36px;
    min-height: 36px;
    padding-right: 7px;
    padding-left: 15px;
  }

  .q-field__native {
    min-height: 36px;
  }

  .q-field__append {
    height: 36px;
  }

  &__menu {
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-size: 18px;
    line-height: 140%;

    .q-item {
      min-height: 36px;
    }

    .select__option {
      color: $text-color;
      background-color: rgba(232, 240, 255, 0.5);
    }
  }

  @media(max-width: 767px) {
    font-size: 14px;
    line-height: 140%;

    .q-field__control {
      padding-right: 5px;
      padding-left: 10px;
    }

    &__menu {
      font-size: 14px;
      line-height: 140%;
    }
  }
}

.checkbox {
  align-items: flex-start;
  font-size: 14px;
  line-height: 140%;

  .q-checkbox__inner {
    width: 18px;
    height: 18px;
    margin-right: 4px;
    min-width: 18px;

    &::before {
      display: none;
    }
  }

  .q-checkbox__bg {
    border: none;
    background-color: $white-color;

    svg {
      fill: $text-color;
    }
  }

  .q-checkbox__inner--truthy {
    background-color: $white-color;
    border-radius: 0;
  }

  .q-icon {
    color: $text-color;
  }

  @media(max-width: 767px) {
    font-size: 12px;
    line-height: 140%;
  }
}

.btn-toggle {
  width: 100%;
  background-color: transparent;

  .q-btn {
    border-bottom: 2px solid transparent;
    font-size: 14px;
    line-height: 140%;
    padding-bottom: 10px;
    transition: 0.3s all;
  }

  .q-btn.bg-none {
    border-bottom: 2px solid $main-color;
    text-shadow: 0 0 1px $text-bold-color;
  }

  .q-focus-helper {
    display: none;
  }

  .q-ripple {
    display: none;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

@import "components/guest-layout";
@import "components/main-layout";
@import "components/main-header";
@import "components/essential-link";
@import "components/main-btn";
@import "components/main-mob-dialog";
@import "components/main-footer";
@import "components/main-page/main-section";
@import "components/main-page/img-slider";
@import "components/main-page/geo-section";
@import "components/main-page/geo-slider";
@import "components/main-page/targeting-section";
@import "components/main-page/targeting-slider";
@import "components/main-page/advantages-section";
@import "components/main-page/faq-section";
@import "components/main-page/features-section";
@import "components/main-page/control-section";
@import "components/main-page/partners-section";
@import "components/main-page/partners-slider";
@import "components/main-page/contacts-section";
@import "components/main-page/contacts-slider";
@import "components/contacts-page/contacts-page";
@import "components/contacts-page/main-contacts-section";
@import "components/contacts-page/contacts-form";
@import "components/contacts-page/map-block";
@import "components/contacts-page/our-contacts-section";
@import "components/auth/login-page";
@import "components/auth/login-form";
@import "components/auth/registration-page";
@import "components/auth/registration-stepper";
