// app global css in SCSS form
@import 'quasar.variables';
@import 'fonts';
@import "swiper/css";
@import 'swiper/css/effect-fade';
@import "swiper/css/pagination";
@import "swiper/css/navigation";
@import "aos/dist/aos.css";

.q-icon > svg,
.q-icon > img {
  width: auto;
  height: auto;
}

body {
  font-family: "OpenSans", "Arial", sans-serif;
  background-color: $bg-color;
  color: $text-color;
}

.custom-font {
  font-family: "ALSDeparture", "Arial", sans-serif;
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-right: 40px;
  padding-left: 40px;

  @media(max-width: 767px) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.title {
  margin: 0;
  margin-bottom: 50px;
  font-size: 56px;
  line-height: 57px;
  font-weight: 400;
  text-align: center;
  color: $text-bold-color;

  &--white {
    color: #ffffff;
  }

  @media (max-width: 767px) {
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 120%;
  }
}

.intro {
  margin: 0;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  color: $text-color;

  &--white {
    color: #E8F0FF;
  }

  &--bold {
    font-weight: 600;
  }


  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 140%;
  }
}

@import "components/main-header";
@import "components/essential-link";
@import "components/main-btn";
@import "components/main-mob-dialog";
@import "components/main-footer";
@import "components/main-page/main-section";
@import "components/main-page/img-slider";
@import "components/main-page/geo-section";
@import "components/main-page/geo-slider";
@import "components/main-page/targeting-section";
@import "components/main-page/targeting-slider";
@import "components/main-page/advantages-section";
@import "components/main-page/faq-section";
@import "components/main-page/features-section";
@import "components/main-page/control-section";
@import "components/main-page/partners-section";
@import "components/main-page/partners-slider";
@import "components/main-page/contacts-section";
@import "components/main-page/contacts-slider";
