.contacts-section {
  border-top: 1px solid $white-color;

  &__container {
    padding-top: 165px;
    padding-bottom: 165px;
    background-image: url('~assets/main/prefooter.svg');
    background-repeat: no-repeat;
    background-position: calc(50% + 22px) 68px;
  }

  &__title {
    margin-bottom: 84px;
  }

  @media(max-width: 767px) {
    &__container {
      padding-top: 85px;
      padding-bottom: 81px;
      background-size: 150px;
      background-position: calc(50% + 12px) 20px;
    }

    &__title {
      margin-bottom: 74px;
    }
  }
}
