.geo-slider {
  position: relative;

  &__slider {
    width: 83%;
  }

  &__card {
    height: 242px;
    box-sizing: border-box;
    padding-top: 33px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
    box-shadow: none;
    border: 1px solid #ffffff;
    border-top: 5px solid $bg-dark-color;
    border-radius: 0;
  }

  &__title {
    margin: 0;
    margin-bottom: 42px;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    text-align: center;
  }

  &__alias {
    color: $main-color;
  }

  &__click {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 5px;

    b {
      margin-right: 12px;
      font-weight: 600;
      font-size: 22px;
      line-height: 140%;
    }

    span {
      width: 48px;
      font-size: 12px;
      line-height: 100%;
    }
  }

  &__flag {
    display: flex;
    justify-content: center;
    margin-top: 35px;
  }

  &__prev {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 22px;
    height: 34px;
    background-image: url('~assets/main/prev.svg');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: 0.3s all;

    &:hover {
      opacity: 0.6;
    }
  }

  &__next {
    position: absolute;
    z-index: 1000;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 22px;
    height: 34px;
    background-image: url('~assets/main/next.svg');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: 0.3s all;

    &:hover {
      opacity: 0.6;
    }
  }

  @media(max-width: 767px) {
    &__slider {
      width: 73%;
    }

    &__card {
      border-top: 3px solid $bg-dark-color;
    }

    &__prev {
      width: 13px;
      height: 19px;
      background-size: contain;
    }

    &__next {
      width: 13px;
      height: 19px;
      background-size: contain;
    }
  }
}
